body{
    background-color: palevioletred;
    color: rgb(27, 16, 174);
}
.ball{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
   
    background-color: aqua;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
}

