body{
    background-color: palevioletred;
    color: bisque;
}
.ball{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 0,auto;
    border-radius: 50%;
}

