body{
    background-color: palevioletred;
    color: bisque;
}
.ball{
   
    background-color: aqua;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
}

